# use glob syntax
syntax: glob

*.elc
*.pyc
*~
*.db

# Virtualenv
venv
build

# setuptools
build/*
git_vuln_finder.egg-info/
dist/*

# tests
.coverage
.mypy_cache/
.cache/
test_repos/

# sphinx
docs/_build

# Emacs
eproject.cfg

# Temporary files (vim backups)
*.swp

.idea/

# Log files:
*.log

# Vagrant:
.vagrant/
